.container {
  background-color: #003d60;
  color: #e9f8ff;
  margin: 0;
  padding: 50px 100px;
  width: 100%;
}

.footerlink {
  width: 29px;
}

.links {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .container {
    padding: 50px 30px;
  }
}

@media (min-width: 1700px) {
  .container footer {
    width: 1440px;
    margin: auto;
  }
}
