.container {
  margin: 100px;
}

.slant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vw;
  background-color: #e9f8ff;
  z-index: -1;
}

.slant::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -20vw;
  width: 100%;
  height: 20vw;
  background: #e9f8ff;
  transform: skew(-83deg);
  transform-origin: top;
  z-index: -1;
}

@media (max-width: 600px) {
  .container {
    margin: 40px 30px;
  }

  .slant {
    height: 50vh;
  }
}

@media (min-width: 1700px) {
  .container {
    width: 1440px;
    margin: 100px auto;
  }
}
