.logocontainer {
  display: inline-block;
}

.worklogocontainer {
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.logo {
  display: block;
}

.footer {
  background-color: #fff;
}
